{% extends "style.html" %}
<h2>please input your tags here</h2>
{% block body %}
  {% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}
<br> <br> <br> <br> <br> <br> <br> 
  <form action="{{ url_for('result') }}" method="get">
    <div class="form-group" style="margin: 500; padding: 1000">
      <label for="username">please input the tags</label>
      <input class="form-control" type="text" name="search_tags">
    </div>
    <button class="btn btn-default" type="submit">Search</button>
  </form>
{% endblock %}